@import "/src/styles/variables";

.layout {
  min-height: 100vh;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-md) {
    justify-content: center;
  }
}

.info {
  display: flex;
  gap: 40px;
  align-items: center;

  &__logo {
    width: 100px;

    @media (max-width: $screen-xl) {
      width: 80px;
    }

    @media (max-width: $screen-lg) {
      width: 60px;
    }

    @media (max-width: $screen-md) {
      display: none;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, sans-serif;

    @media (max-width: $screen-xl) {
      font-size: 24px;
    }

    @media (max-width: $screen-lg) {
      display: none;
    }
  }
}


.links {
  color: var(--black);
  font-style: italic;
  text-decoration: none;
  transition: all 0.2s linear;
  word-spacing: inherit;
  display: flex;
  gap: 10px;
  align-items: center;

  @media (max-width: $screen-xl) {
    gap: 8px;
  }

  @media (max-width: $screen-lg) {
    gap: 6px;
  }

  @media (max-width: $screen-md) {
    gap: 4px;
  }
}

.link {
  color: var(--white);
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease all;
  font-style: normal;

  @media (max-width: $screen-xl) {
    padding: 6px;
  }

  @media (max-width: $screen-lg) {
    padding: 4px;
    font-size: 14px;
  }

  &:not(.link_noHover) {
    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }
}

.main {
  padding: 20px 16px;
}

.active {
  background-color: var(--white);
  color: var(--black);
}